main{
  height:min-content;
  position:relative;
  display:flex;
  flex-direction: row;
  align-items: center;
  width:33% ;

}
body{
   background: url("../img/apa.jpeg") ;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.main-footer{
  margin-top: 16.9%;
}

.cutie
{ float: left;
  width: 25%;
  padding: 20% 44% 20% 44%;

 }

#show,#content{
  display:none;
}
#show:checked~#content{
  display: block
}
#show2,#content2{
  display:none;
}
#show2:checked~#content2{
  display: block
}
#show3,#content3{
  display:none;
}
#show3:checked~#content3{
  display: block
}
  label{
   display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #1f7a1f;
  }
button{
  background-image: linear-gradient(to left, rgba(61,61,41,0), rgba(61,61,41,1));
  position: relative;
  min-width: 15vw;
  padding:10px;
  transition: ease-in-out 0.2s;
  text-align: left;
}

  button .s1{
  text-transform: uppercase;
  display:block;
  left:0px;
  color: var(--accent);
}


  button .s2{
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: var(--accent);
  display:block;
  font-weight: 300;
}

 .nobull {
  list-style-type: none;
 }
@media only screen and (min-width:601px){

  button{
    margin: 1.5vw;
  }

  button .s1{
    font-size: 1.5vw;
  }
  button .s2{
    font-size: 1vw;
    float:right;
  }
}